@use "fonts";

body {
    max-width: 1000px;
    margin: 0;
    padding: 8px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: fonts.$deja-vu-sans;
    text-align: justify;
}

a {
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
}

img {
    border-radius: 4px;
    width: -webkit-fill-available;
    width: -moz-available;
}

footer {
    text-align: center;
}

pre {
    padding: 8px;
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > .title {
        display: flex;
        margin: 0;
        margin-right: 8px;
        gap: 8px;

        font-family: fonts.$ubuntu;

        & > img {
            height: 43px;
        }
    }

    & > .links {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
