.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21.44px;
    margin-bottom: 21.44px;

    @media (max-width: 750px) {
        display: block;
    }

    & > h1,
    & > p {
        margin: 0;
    }
}

.row {
    display: flex;
    gap: 2em;

    @media(max-width: 750px) {
        display: block;
    }

    & > img, & > video {
        flex: 0 1 auto;
        width: auto;
        height: auto;
        max-width: 50%;
        align-self: flex-start;
    }

    & > :not(img, video) {
      flex: 1 1 0;
      min-width: 0;
    }
}

.inherit {
    width: inherit;
    max-width: 100%;
}
