.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21.44px;
    margin-bottom: 21.44px;

    @media (max-width: 750px) {
        display: block;
    }

    & > h1,
    & > p {
        margin: 0;
    }
}

.row {
    display: flex;
    gap: 2em;

    @media(max-width: 750px) {
        display: block;
    }

    & > img, video {
        width: 100%;
        height: 100%;
    }
}

.inherit {
    width: inherit;
    max-width: 100%;
}
