<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preload" href="/fonts/DejaVuSans.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/icons/mslicer.svg" as="image" type="image/svg+xml" />
        <link rel="icon" href="/icons/mslicer.ico" />
        <link rel="stylesheet" href="/main.css" />

        <link rel="canonical" href="{{ current_url | default(value=config.base_url) }}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="mslicer" />
        <meta property="og:url" content="{{ current_url | default(value=config.base_url) }}" />
        <meta property="og:image" content="{{ config.base_url }}/supported-dragon.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="{{ config.base_url }}/supported-dragon.png" />

        {% block header %} {% endblock header %}
    </head>
    <body>
        <div class="header">
            <h1 class="title">
                <img src="/icons/mslicer.svg" alt="mslicer logo" fetchpriority=high />
                mslicer
            </h1>

            <div class="links">
                <a href="/">home</a>∙ <a href="/docs">docs</a>∙
                <a href="https://github.com/connorslade/mslicer">source ↗</a>
            </div>
        </div>

        <hr />

        {% block content %} {% endblock content %}

        <hr />

        <footer>
            <span title="people can write em dashes too 😭">Human written</span>, by <a href="https://connorslade.com">Connor Slade</a> ∙ {{ now() | date(format="%B %Y") }}
            {% if config.extra.commit %}
                (<a href="https://github.com/connorslade/mslicer.com/tree/{{ config.extra.commit }}">{{ config.extra.commit }}</a>)
            {% endif %}
        </footer>
    </body>
</html>
