<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/icons/mslicer.ico" />
        <link rel="stylesheet" href="/main.css" />
        {% block header %} {% endblock header %}
    </head>
    <body>
        <div class="header">
            <h1 class="title"><img src="/icons/mslicer.svg" /> mslicer</h1>

            <div class="links">
                <a href="/">home</a>∙ <a href="/docs">docs</a>∙
                <a href="https://github.com/connorslade/mslicer">source ↗</a>
            </div>
        </div>

        <hr />

        {% block content %} {% endblock content %}

        <hr />

        <footer>
            <a href="https://connorcode.com">Connor Slade</a> ∙ {{ now() | date(format="%B %Y") }}
            {% if config.extra.commit %}
                (<a href="https://github.com/connorslade/mslicer.com/tree/{{ config.extra.commit }}">{{ config.extra.commit }}</a>)
            {% endif %}
        </footer>
    </body>
</html>
