{% extends "base.html" %} {% block header %}
<link rel="stylesheet" href="/index.css" />
{% endblock header %} {% block content %}

<p>
    An open-source slicer for masked stereolithography (resin) printers.
    Supports the following output formats: Chitu (.ctb), Elegoo (.goo), NanoDLP
    (.nanodlp), and Vector (.svg).
</p>

<img src="images/mslicer-screenshot.png" alt="" />

<h2>Features</h2>

<h3>Performance</h3>

<p>
    Often 20 to 120 times faster than competing slicers, see the benchmark
    results.
</p>

<h3>Remote Print</h3>

<h2>Installation</h2>

<h3>Stable</h3>

<!-- prettier-ignore -->
<div class="downloads" >
    <div>
        <h4><img src="icons/linux-logo-fill.svg">Linux</h4>
        <ul>
            <li><a href="https://github.com/connorslade/mslicer/releases">Binary (x64)</a></li>
            <li><a href="https://flathub.org/en/apps/com.connorcode.mslicer">Flathub</a></li>
            <li><a href="https://search.nixos.org/packages?channel=unstable&query=mslicer&show=mslicer">Nixpkgs</a></li>
        </ul>
    </div>

    <div>
        <h4><img src="icons/windows-logo-fill.svg">Windows</h4>
        <ul>
            <li><a href="https://github.com/connorslade/mslicer/releases">Binary (x64)</a></li>
        </ul>
    </div>

    <div>
        <h4><img src="icons/apple-logo-fill.svg">MacOS</h4>
        <ul>
            <li><a href="https://github.com/connorslade/mslicer/releases">App (Intel)</a></li>
        </ul>
    </div>
</div>

<h3>Development</h3>

<p>
    The latest development builds are available for Linux, Windows, and MacOS on
    <a
        href="https://github.com/connorslade/mslicer/actions/workflows/build.yml?query=branch%3Amain%20is%3Asuccess"
        >Github Actions</a
    >. Just open the workflow run and download the correct artifact for your
    system.
</p>

<h3>From Source</h3>

<p>
    If you would rather build from source, just have the latest stable version
    of the <a href="https://rustup.rs/">Rust toolchain</a> installed and build
    the binaries you want (mslicer, slicer) as shown below.
</p>
<pre>
git clone https://github.com/connorslade/mslicer
cd mslicer
cargo b -r -p mslicer
</pre>

{% endblock content %}
