{% extends "base.html" %}
{% import "util.html" as util %}

{% block header %}
    <link rel="stylesheet" href="/page.css" />
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
        <title>{{ page.title }} &mdash; mslicer</title>
    {% else %}
        <meta property="og:title" content="mslicer" />
        <title>mslicer</title>
    {% endif %}
{% endblock header %}


{% block content %}
    <div class="heading">
        <h1>{{ page.title }}</h1>
        {% if page.date %}
            <p>{{ util::format_date(date=page.date) }}</p>
        {% endif %}
    </div>

    {{ page.content | safe}}
{% endblock content %}
